<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.valueAriaNow]="percentage1" aria-valuemin="0" aria-valuemax="100" [style.width]="percentage1 + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.valueAriaNow]="percentage2" aria-valuemin="0" aria-valuemax="100" [style.width]="percentage2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incremento (changeValueEvent)="percentage1 = $event" [title]="title" [percentage]="percentage1"></app-incremento>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incremento (changeValueEvent)="percentage2 = $event" title="$title" [percentage]="percentage2"></app-incremento>
            </div>
        </div>
    </div>
</div>